/*
Aufgabe: 7, DOM
Name: Julia Kaiser
Matrikel: 256580
Datum: 07.12.2017
Hiermit versichere ich, dass ich diesen
Code selbst geschrieben habe. Er wurde
nicht kopiert und auch nicht diktiert.
*/

div {
	position: absolute;
	display: inline;
}