/*
Aufgabe: Abschlussarbeit
Name: Julia Kaiser
Matrikel: 256580
Datum: 14.02.2018

Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.

*/
canvas {
	width: 60%;
	height: auto;
}

#Gin {
	position: absolute;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 2vw;
	text-align: center;
	line-height: 4vw;
	top: 24vw;
	left: 8.75vw;
	width: 8%;
	height: 4vw;
	float: left;
}

#Vodka {
	position: absolute;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 2vw;
	text-align: center;
	line-height: 4vw;
	top: 24vw;
	left: 23.5vw;
	width: 8%;
	height: 4vw;
	float: left;
}

#Rum {
	position: absolute;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 2vw;
	text-align: center;
	line-height: 4vw;
	top: 24vw;
	left: 38.5vw;
	width: 8%;
	height: 4vw;
	float: left;
}

#Cola {
	position: absolute;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 2vw;
	text-align: center;
	line-height: 4vw;
	top: 35vw;
	left: 9vw;
	width: 8%;
	height: 4vw;
	float: left;
}

#Fanta {
	position: absolute;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 2vw;
	text-align: center;
	line-height: 4vw;
	top: 35vw;
	left: 23.5vw;
	width: 8%;
	height: 4vw;
	float: left;
}

#Tonic {
	position: absolute;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 2vw;
	text-align: center;
	line-height: 4vw;
	top: 35vw;
	left: 38.5vw;
	width: 8%;
	height: 4vw;
	float: left;
}

#Submit {
	position: absolute;
	font-family: 'Nanum Myeongjo', serif;
	color: white;
	font-size: 2vw;
	font-weight: bold;
	text-align: center;
	line-height: 4vw;
	top: 40vw;
	left: 20.5vw;
	width: 15%;
	height: 4vw;
	float: left;
}

#Bar {
	position: absolute;
	font-family: 'Nanum Myeongjo', serif;
	color: white;
	font-size: 6vw;
	font-weight: bold;
	text-align: center;
	line-height: 17vw;
	top: 20vw;
	left: 5vw;
	width: 50vw;
	height: 25vw;
	float: left;
}

#Back {
	position: absolute;
	font-family: 'Nanum Myeongjo', serif;
	color: white;
	font-size: 2vw;
	font-weight: bold;
	text-align: center;
	line-height: 17vw;
	top: 3vw;
	left: 20vw;
	width: 5vw;
	height: 25vw;
	float: left;
}